li {
    padding: 5px;
    margin: 5px;
}
  
.label {
    font-weight: bold;
}

.form-group {
    margin-bottom: 5px;
    font-weight: bold;
}
  
.container {
    width: auto;
}

.form {
    margin-top: 50px;
    
}

body {
    background-color: rgb(209,192,90);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}